<footer>
    <section>
        <div class="cols">
            <h5>LEARN MORE</h5>
            <ul>
                <li><a href="#">Health Talk</a></li>
                <li><a href="#">Ways we help</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Quality care</a></li>
                <li><a href="#">Testimonials</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="cols">
            <h5>SUPPORT</h5>
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Client login</a></li>
                <li><a href="#">Prescription policy</a></li>
                <li><a href="#">Privacy practices</a></li>
                <li><a href="#">Community guidelines</a></li>
                <li><a href="#">Ethics and compliance hotline</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="cols">
            <h5>ABOUT</h5>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">For Organizations</a></li>
                <li><a href="#">For care providers</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="cols">
            <h5>CONNECT WITH US</h5>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">For Organizations</a></li>
                <li><a href="#">For care providers</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
            </ul>
        </div>
    </section>
</footer>