<header>
    <div class="header">
        <a href="#">WAYS WE HELP</a>
        <a href="#">HOW IT WORKS</a>
        <a href="#">QUALITY CARE</a>
        <a href="#">TESTIMONIALS</a>
        <div class="enter">
            <form action="/user/postToGetSignUp">
                <button id="register">Register</button>
            </form>
            <form action="/user/postToGetLogin">
                <button id="login">Login</button>
            </form>
        </div>
    </div>
</header>