<main>
    <div class="image">
        <img src="/images/DermaCoverPic1.jpg" height="500px" alt="DermaCoverPic2.jpg">
    </div>
    <div class="para">
        <p>
            We've made skin care easier. You no longer have to wait weeks for an appointment. Use your Teladoc
            account
            to upload images
            of your skin condition. Our U.S. board certified dermatologists will give you a diagnosis and treatment
            plan
            customized to
            fit your specific needs within two days or less.
        </p>
        <p>
            Our dermatologists diagnose & treat common skin conditions such as
        </p>
        <div class="lists">
            <ul id="list-1">
                <li>Acne</li>
                <li>Psoriasis</li>
                <li>Eczema</li>
                <li>Rosacea</li>
                <li>Rash</li>
            </ul>
            <ul id="list-2">
                <li>Poison ivy</li>
                <li>Skin infections</li>
                <li>Dermatitis</li>
                <li>And more</li>
            </ul>
        </div>
    </div>
</main>