<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Utils/css/index.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="#">WAYS WE HELP</a>
            <a href="#">HOW IT WORKS</a>
            <a href="#">QUALITY CARE</a>
            <a href="#">TESTIMONIALS</a>
        </div>
    </header>
    <main>
        <div class="image">
            <img src="../Utils/images/DermaCoverPic1.jpg" height="500px" alt="DermaCoverPic2.jpg">
        </div>
        <div class="para">
            <p>
                We've made skin care easier. You no longer have to wait weeks for an appointment. Use your Teladoc account to upload images 
                of your skin condition. Our U.S. board certified dermatologists will give you a diagnosis and treatment plan customized to 
                fit your specific needs within two days or less.
            </p>
            <p>
                Our dermatologists diagnose & treat common skin conditions such as
            </p>
            <div class="lists">
                <ul id="list-1">
                    <li>Acne</li>
                    <li>Psoriasis</li>
                    <li>Eczema</li>
                    <li>Rosacea</li>
                    <li>Rash</li>
                </ul>
                <ul id="list-2">
                    <li>Poison ivy</li>
                    <li>Skin infections</li>
                    <li>Dermatitis</li>
                    <li>And more</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <section>
            <div class="cols">
                <h5>LEARN MORE</h5>
                <ul>
                    <li><a href="#">Health Talk</a></li>
                    <li><a href="#">Ways we help</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Quality care</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="cols">
                <h5>SUPPORT</h5>
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Client login</a></li>
                    <li><a href="#">Prescription policy</a></li>
                    <li><a href="#">Privacy practices</a></li>
                    <li><a href="#">Community guidelines</a></li>
                    <li><a href="#">Ethics and compliance hotline</a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="cols">
                <h5>ABOUT</h5>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">For Organizations</a></li>
                    <li><a href="#">For care providers</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Investors</a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="cols">
                <h5>CONNECT WITH US</h5>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">For Organizations</a></li>
                    <li><a href="#">For care providers</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Investors</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>