<main>
    <div class="wrapper">
        <div class="form-container">
            <h1>Welcome back!</h1>
            <form action="/user/login" method="post">
                <div class="il-wrapper">
                    <input type="email" id="email" class="input" name="email" placeholder="username111@gmail.com"
                        required>
                    <input type="password" id="password" class="input" name="password" placeholder="Enter Password"
                        required>
                    <button class="button" type="submit">Login</button>
                </div>
                <div class="forget">
                    <a href="#">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</main>