<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../Utils/css/profile.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="#">WAYS WE HELP</a>
            <a href="#">HOW IT WORKS</a>
            <a href="#">QUALITY CARE</a>
            <a href="#">TESTIMONIALS</a>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h2 class="username">USERNAME</h2>
            <button type="button" onclick="getBlog()" class="clinics">GET CLINICS</button>
            <form id="getPost"></form>
        </div>
    </main>

    <script>
        let getPost = document.querySelector('#getPost')
        function getBlog(){
            let url = "https://jsonplaceholder.typicode.com/posts"
            fetch(url)
            .then((response) => response.json())
            .then((result) => {
                console.log(JSON.stringify(result))
                let output = '<h1>Posts</h1>'
                result.forEach(element => {
                    output += `<div class="blog">
                        <h3>${element.id}</h3>
                        <p><a href="#">${element.title}</a></p>
                        <p>${element.body}</p>
                        <button type="button" class="book">Book appointment</button>
                        </div>`
                });
                getPost.innerHTML = output;
            })
        }
    </script>
</body>
</html>