@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: black;;
}

body{
    background-color: #EFEFEF;
}

:root{
    --top: calc(100vh-75vh);
    --bottom: calc(100vh-75vh);
}

header{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header{
    background-color: #EFEFEF;
}

.header > a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.header > a:hover{
    background-color: lightseagreen;
    color: white;
}

.enter{
    display: none;
}

.wrapper{
    position: relative;
    top: 75px;
}

.container{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    padding: 20px;
}

#profilePic{
    border-radius: 50%;
}

/* .username::before{
    content: "";
    background-image: url("../images/profileIMG.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
} */

.username{
    display: inline-block;
    margin-left: 20px;
}

.clinicsHead{
    text-align: center;
    /* background-color: green; */
}

.blog{
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.book, .clinics, #delete{
    cursor: pointer;
    border:none;
    color:white;
    border-radius:25px;
    padding:10px 20px;
}

.clinics{
    background-color: red;
    margin-top: 20px;
    margin-left: 20px;
}

.book{
    background-color:blue;
}

#delete{
    display: inline-block;
    position: absolute;
    right: 20px;
    background-color: crimson;
    text-decoration: none;
}

#addComment{
    height: 20px;
    width: 500px;
    resize: none;
}


footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #A3E4DB;
    margin-top: 100px;
    padding: 30px;
}

.cols ul{
    list-style: none;
    line-height: 50px;
    padding: 0;
}

.cols ul li a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
}