@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: black;;
}
 
:root{
    --top: calc(100vh-75vh);
    --bottom: calc(100vh-75vh);
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header{
    background-color: #EFEFEF;
}

.header > a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.header > a:hover{
    background-color: lightseagreen;
    color: white;
}

.enter{
    display: none;
}

.wrapper{
    width:fit-content;
    background-color: chocolate;
    display: flex;
    align-items: center;
    margin: 5vh auto;
    position: relative;
    top: 75px;
}

.image img{
    height: 800px;
    /* width: 1000px; */
    border-radius: 10px;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    height: 800px;
    width: 370px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    padding: 20px;
}

.il-wrapper{
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    /* background-color: royalblue; */
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.input{
    width: 210px;
    position: absolute;
    right: 0px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.input:focus{
    border-style: none;
}

.radio-wrapper{
    display: flex;
    width: 210px;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
}

.checkbox-wrapper{
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.checkbox-wrapper > div{
    margin-left: 20px;
}

.select-wrapper{
    margin-top: 10px;
}

button{
    margin-top: 20px;
    border-style: none;
    border-radius: 20px;
    background-color:brown;
    color: white;
    padding: 10px 20px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #A3E4DB;
    padding: 30px;
    margin-top: 100px;
}

.cols ul{
    list-style: none;
    line-height: 50px;
    padding: 0;
}

.cols ul li a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
}